/* Colors
main        #D4E0F7
main-2      #1258DC
contrast    #FB8604
contrast-2  #B86B14
text        #342009
*/

body {
    background-color: #D4E0F7;
    color: #342009;
    font-family: sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1258DC;
    color: #342009;
    overflow-x: hidden;
}

.sidenav a {
    color: #342009;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

/* Change an elements color on hover */
.sidenav a:hover {
    color: #B86B14;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
